extends ./_shared/layout
block title
	title Workers
block content

	form.w
		input(type="text", name="worker", placeholder="Enter a work item...", required)
		select(name="gender", required)
			option(value="0") female
			option(value="1") male
		
		button(type="submit") Add Work Item
	
	h1 Workers
	
	ul
		each worker in workers
			li
				a(href="./workers/#{ worker.id }")= worker.name