extends ../layout
block title
	title Work to be done.

block content
	h1 Add Work Item
	
	form.wi
		input(type="text", name="workItem", placeholder="Enter a work item...", required)
		input(type="number", name="workItemValue", placeholder="How much is it worth?", required)
		
		button(type="submit") Add Work Item
		
	h1 Work Items

	each workItem in work
		div(id= workItem.WorkId).work-item
			div= workItem.WorkDescription
			if workItem.WorkValue > 0 
				div  $#{workItem.WorkValue}.00
			else
				div FREE
			td
				select.worker-select(WorkValue= workItem.WorkerId)
					option(value="0") Unassigned
					each worker in workers
						option(value= worker.WorkerId selected= workItem.WorkerId == worker.WorkerId ? true : false)
							= worker.WorkerName
			div
				span.remove.fa.fa-times
				span.done.fa.fa-check
	div#workers
		h3 Workers				
		each worker in workers
			a(href="./workers/#{ worker.WorkerId }")= worker.WorkerName